/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
  --font-space-mono: 'Space Mono', monospace;
  --color-bgshadow: #f3f8fb;
  --color-darkgreen: #00474b;
  --color-label: #5d6b6c;
  --color-focusinput: #109bff;
}
